@import "bourbon";

// Grab some stuff
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,100,200,800,900);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@mixin animation-delay($delay) {
  animation-delay:$delay;
  -webkit-animation-delay:$delay;
}

.Score {
  display:inline-block;
  font:500 100px/2 "Raleway", sans-serif;
  color:#fff;
  position:relative;
  width:270px;
  height:200px;
  white-space:nowrap;
  
  .fa-arrow-up {
    font-size:50%;
    color:#27AE60;
    position:relative;
    top:-5px;
  }
}

.Score-added {
  @include animation(scoreOverlayFromBottom 2s ease-in-out 1);
  position:absolute;
  white-space:nowrap;
  text-align:center;
  width:400px;
  left:-80px;
  line-height:200px;
  opacity:0;
  
  i {
    color:orange;
    font-size:90%;
  }
}

.Score-multiplier {
  @include animation(scoreOverlayFromBottomMultiplier 1s ease-in-out 1);
  @extend .Score-added;
  @include animation-delay(1s);
  width:400px;
  left:-200px;
  
  i {
    color:red;
  }
}


@include keyframes(scoreOverlayFromBottom) {
 
  0% {
    font-size:50px;
    line-height:200px;
    top:200px;
    opacity:0;
  }
  
  15% {
    opacity:1;
    font-size:130px;
    line-height:200px;
    top:100px;
    left:-80px;
  }
  
  20% {
    font-size:100px;    
  }
  
  40% {
    left:-80px;
  }

  60% {
    opacity:1;
    font-size:100px;
    line-height:200px;
    top:100px;    
    left:10px;
  }
  
  90% {
    opacity:1;
    font-size:100px;
    line-height:200px;
    top:100px;    
    left:10px;
  }
  
  100% {
    opacity:0;
    font-size:0px;
    line-height:200px;
    top:-50px;
    left:-80px;
  }
}

@include keyframes(scoreOverlayFromBottomMultiplier) {
 
  0% {
    font-size:50px;
    line-height:200px;
    top:200px;
    opacity:0;
  }
  
  30% {
    opacity:1;
    font-size:130px;
    line-height:200px;
    top:100px;
  }
  
  40% {
    font-size:100px;
  }
  
  60% {
    opacity:1;
    font-size:100px;
    line-height:200px;
    top:100px;    
    left:-200px;    
  }

  80% {
    opacity:1;
    font-size:100px;
    line-height:200px;
    top:100px;    
    left:-200px; 
  }
  
  100% {
    opacity:0;
    font-size:0px;
    line-height:200px;
    top:-50px;
    left:-50px;
  }
}

@include keyframes(scoreOverlay) {
 
  0% {
    font-size:50px;
    line-height:200px;
    top:0px;
    opacity:0;
  }
  
  20% {
    opacity:1;
    font-size:100px;
    line-height:200px;
    top:100px;
  }

  90% {
    opacity:1;
    font-size:100px;
    line-height:200px;
    top:100px;    
  }
  
  100% {
    opacity:0;
    font-size:0px;
    line-height:200px;
    top:-400px;
  }
}

.ResetScore {
  @include position(absolute, 50% 20px auto auto auto);
  display:block;
  border-radius:10px;
  cursor:pointer;
  width:250px;
  text-align:center;
  margin-top:-20px;
  font:700 14px/40px "Railway", sans-serif;
  text-transform:uppercase;
  color:#fff;
  border:2px solid lighten(#2C3E50, 10%);
  @include transition(background .2s);
  
  &:hover {
    background:lighten(#2C3E50, 10%);
  }
}